.blog-aside-left {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border-radius: 10px;
    margin: 5px;
    width: 20%;
    margin-left: 8%;
}
.blog-aside-right {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border-radius: 10px;
    margin: 5px;
    margin-left: 10px;
    width: 67%;
}