<div class="detail-user-cart" data-ratio="9:16">
    <div class="detail-user-cart-avtor">
        <nz-avatar [nzShape]="'square'" [nzSize]="55" [nzIcon]="'user'" nzSrc="../../assets/images/1.jpg" ></nz-avatar>
        <div class="detail-user-cart-avtor-left">
            <div style="font-weight: bold;">朱林忠</div>
            <a href=""><div style="font-size: 13px; margin-top: 5px;">进入他的主页 ></div></a>
        </div>
    </div>
    <div class="detail-user-cart-info">
        <div class="detail-user-cart-info-in">
            <div>原创</div>
            <div>100</div>
        </div>
        <div class="detail-user-cart-info-in">
            <div>粉丝</div>
            <div>9999</div>
        </div>
        <div class="detail-user-cart-info-in">
            <div>获赞</div>
            <div>100200</div>
        </div>
        <div class="detail-user-cart-info-in">
            <div>访问</div>
            <div>20万</div>
        </div>
    </div>
    <div class="detail-user-cart-ranking">
        <div class="ranking">
            <div class="ranking-in">
                等级:&nbsp;&nbsp;<span>10</span>
            </div>
            <div class="ranking-in">
                日排名:&nbsp;&nbsp;<span>20万</span>
            </div>
        </div>
        <div class="ranking">
            <div class="ranking-in">
                周排名:&nbsp;&nbsp;<span>10</span>
            </div>
            <div class="ranking-in">
                总排名:&nbsp;&nbsp;<span>20万</span>
            </div>
        </div>
    </div>
    <div class="detail-user-cart-active">
        <button nz-button nzType="dashed" nzBlock>关注</button>
    </div>
</div>
