.aside-left {
	float: left;
	margin-left: 50px;
	margin-top: 20px;
}
[nz-menu] {
	width: 100px;
	border-radius: 5px;
	background-color: rgba(223, 215, 215, 0.363);
}
[nz-menu-item] {
	border-radius: 5px;
}
.body {
	width: 100%;
}
.banner {
	width: 70%;
	height: 420px;
	margin: 10px auto;
	margin-right: 12%;
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	-khtml-user-select: none; 
	user-select: none;
}
.artical {
	background-color: black;
	margin: 15px auto;
	margin-right: 12%;
	width: 70%;
}
.main {
	border-radius: 5px;
	border: 3px solid rgba(0, 0, 0, 0.1);
	float: left;
	margin-top: 5px;
	width: 69%;
}
.side {
	border-radius: 5px;
	overflow: hidden;
	float: right;
	margin-top: 5px;
	width: 29%;
}