<div class="active">
    <div class="active-top">
        <div class="active-top-title">
            活动日历
        </div>
        <div class="active-top-line"></div>
    </div>
    <div class="back">
        <div class="active-data" data-ratio="16:9" *ngFor="let item of data">
            <div class="active-data-left" >
                <div class="time-day">
                    <span>30</span>
                </div>
                <div class="time-month">
                    <span>12</span>月
                </div>
            </div>
            <div class="active-data-right">
                <div class="active-data-right-title">
                    部落大咖直播，加好礼相赠相赠相赠相赠
                </div>
                <div class="active-data-right-note">
                    更有好礼相赠相赠相赠相赠相赠相赠相赠
                </div>
            </div>
        </div>
    </div>
</div>
