<div class="detail-blog">
    <div class="detail-blog-title">
        <nz-tag [nzColor]="'green'" >
            原创
        </nz-tag>
        <div class="title">&nbsp;&nbsp;&nbsp;
            这是标题。。这个是标题!这是标题。。这个是标题!
        </div>
        <div class="line-title"></div>
        <div class="detail-blog-info">
            <i nz-icon nzType="user" nzTheme="outline" style="margin-right: 5px; margin-left: 10px;"></i>朱林忠
            <i nz-icon nzType="read" nzTheme="outline" style="margin-right: 5px; margin-left: 10px;"></i>800万阅读
            <i nz-icon nzType="star" nzTheme="outline" style="margin-right: 5px; margin-left: 10px;"></i>35.8万星
            <i nz-icon nzType="book" nzTheme="outline" style="margin-right: 5px; margin-left: 10px;"></i>108万收藏
            <i nz-icon nzType="clock-circle" nzTheme="outline" style="margin-right: 5px; margin-left: 10px;"></i>2019/12/18
        </div>
    </div>
    <div class="detail-blog-body">
        这个地方是富文本编辑器的展示
    </div>
    <div class="detail-blog-footer">
        <i nz-icon nzType="read" nzTheme="outline" style="margin-right: 5px; margin-left: 10px;"></i>800万阅读
        <i nz-icon nzType="star" nzTheme="outline" style="margin-right: 5px; margin-left: 10px;"></i>35.8万星
        <i nz-icon nzType="book" nzTheme="outline" style="margin-right: 5px; margin-left: 10px;"></i>108万收藏
        <a href=""><span style="position: absolute; right: 20px;">举报</span></a>
    </div>
</div>
