<div class="header">
  <div class="logo">
    BOKE
  </div>
  <ul nz-menu  nzMode="inline" nzOpen="false" nzMode="horizontal" class="header_title_ul">
    <li nz-submenu  *ngFor="let item of tilteList,let id=index" [nzTitle]="item.title" nzMode="vertical" nzInlineCollapsed="true" [id]="'title'+id">
        <ul>
          <li nz-menu-item *ngFor="let child of item.children">
              <a [href]="child.href">
                {{child.title}}
              </a>
          </li>
        </ul>
    </li>
    <li nz-submenu nzTitle="登录/注册" *ngIf="login.notlogin">
      <ul>
        <li nz-menu-item>登录</li>
        <li nz-menu-item>注册</li>
      </ul>
    </li>
  </ul>
  <div class="header_right">
    <div class="header_login">
      <div class="header_search">
          <nz-input-group [nzSuffix]="suffixIconSearch" style="width: 210px;">
              <input class="header_search_in" type="text" nz-input placeholder="文章/标题/标签" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <i nz-icon nzType="search"></i>
            </ng-template>
      </div>
      <div class="login" *ngIf="login.login">
        <nz-badge nzCount="99" style="margin-right: 24px;">
          <nz-avatar nzIcon="user" nzShape="'square'" [nzSize]="37"></nz-avatar>
        </nz-badge>
      </div>
    </div>
  </div>
</div>
<div class="body">
  <router-outlet></router-outlet>
</div>
<div class="footer">
    ©️2019 CSDN 皮肤主题: 创作都市 设计师: CSDN官方博客
</div>