.header {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
    font-size: 20px;
    height: 58px;
    min-width: 1050px;
    position: relative;
    overflow: hidden;
}
.body {
    margin-top: 5px;
    min-width: 1050px;
    overflow: hidden;
}
.footer {
    min-width: 1050px;
    height: 48px;
    background-color: rgb(233, 225, 215, 0.8);
    text-align: center;
    line-height: 48px;
    width: 100%;
    font-size: 13px;
    margin-top: 30px;
}
.logo {
    position: absolute;
    left: 15px;
    top: 0px;
    color: #1E90FF;
    width: 100px;
    font-size: 25px;
    font-weight: bold;
    line-height: 58px;
}
.header_title_ul {
    width: 100%;
    line-height: 55px;
    height: 100%;
    background-color: rgb(0, 0, 0, 0);
    color: white;
}
#title0 {
    margin-left: 100px;
}
.header_right {
    position: absolute;
    right: 5px;
    top: 0;
    width: 290px;
    height: 58px;
}
.header_search{
    display: inline-block;
    width: 280px;
    line-height: 52px;
    overflow: hidden;
}
.header_search_in {
    font-size: 13px;
    height: 30px;
}
.header_login {
    display: inline-block;
    width: 70px;
}
.login {
    margin-left: 5px;
    position: absolute;
    top: 10px;
    right: 0px;
}
