<div class="user-article">
    <div class="top-user-article">
        <div class="title-user-article">
            置顶文章
        </div>
        <div class="line-user-article"></div>
    </div>
    <div class="user-article-body">
        <div class="user-article-body-in">
            这是文章的题目这是题目!!!这是文章的题目这是题目!!!
        </div>
        <nz-divider></nz-divider>
        <div class="user-article-body-in">
            这是文章的题目这是题目!!!这是文章的题目这是题目!!!这是文章的题目这是题目!!!这是文章的题目这是题目!!!
        </div>
        <nz-divider></nz-divider>
        <div class="user-article-body-in">
            这是文章的题目这是题目!!!
        </div>
        <nz-divider></nz-divider>
        <div class="user-article-body-in">
            这是文章的题目这是题目!!!这是文章的题目这是题目!!!
        </div>
        <nz-divider></nz-divider>
    </div>
</div>
<div class="user-article" style="margin-top: 10px;">
    <div class="top-user-article">
        <div class="title-user-article">
            最热文章
        </div>
        <div class="line-user-article"></div>
    </div>
    <div class="user-article-body">
        <div class="user-article-body-in">
            这是文章的题目这是题目!!!这是文章的题目这是题目!!!
        </div>
        <nz-divider></nz-divider>
        <div class="user-article-body-in">
            这是文章的题目这是题目!!!
        </div>
        <nz-divider></nz-divider>
        <div class="user-article-body-in">
            这是文章的题目这是题目!!!这是文章的题目这是题目!!!这是文章的题目这是题目!!!这是文章的题目这是题目!!!
        </div>
        <nz-divider></nz-divider>
        <div class="user-article-body-in">
            这是文章的题目这是题目!!!
        </div>
        <nz-divider></nz-divider>
        <div class="user-article-body-in">
            这是文章的题目这是题目!!!这是文章的题目这是题目!!!
        </div>
        <nz-divider></nz-divider>
    </div>
</div>
<div class="user-article" style="margin-top: 10px;">
    <div class="top-user-article">
        <div class="title-user-article">
            历史文章
        </div>
        <div class="line-user-article"></div>
    </div>
    <div class="user-article-time">
        <nz-timeline>
            <nz-timeline-item nzColor="green">&nbsp;<a class="user-article-time-item" href="">2019/12/20</a></nz-timeline-item>
            <nz-timeline-item nzColor="green">&nbsp;<a class="user-article-time-item" href="">2019/12/19</a></nz-timeline-item>
            <nz-timeline-item nzColor="green">&nbsp;<a class="user-article-time-item" href="">2019/12/18</a></nz-timeline-item>
            <nz-timeline-item nzColor="green">&nbsp;<a class="user-article-time-item" href="">2019/12/17</a></nz-timeline-item>
            <nz-timeline-item nzColor="green" style="color: rgba(150, 150, 150, 1);font-weight: 550;">&nbsp;更多。。。</nz-timeline-item>
          </nz-timeline>
    </div>
</div>